h1{
    font-size: 50px;
    
}
h2{
    font-size:40px;
}

body{
    font-family: 'Poppins', sans-serif;
    color: black;
    margin: 0;
}
 p {
color: dimgray;
}
.highlight{
color:orange
}
.half {
    width: 40%;
    float: left;
    margin-left:3%;
    padding-left: 1%;
}
.half img {
width: 100% ;
}
.top{
    background-image: url(tt.png);
  background-repeat:no-repeat;
}
section { 
    height:500px;
    padding-bottom: 100px;
}
.link-button {
    text-decoration: none;
    background-color:red;
    padding:10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(45deg,lightsalmon,tomato);

}
.dream
{
    background-image: url(dream-bg.png);
    background-repeat:no-repeat;
    background-position: right;
}
.single-exper {
box-shadow: 10px 10px rgb(156, 155, 155);
border-radius: 5px;
height: 80%;
background-color:white;

}
.experience {
background-image: url(ex.png);
background-repeat: no-repeat;
background-position:left;
}
#full
{
    border-left: 7px solid ;
    border-image:linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
}
#empty
{
    border-left: 7px solid ;
    border-image:linear-gradient(180deg,blue,cyan) ;

      border-image-slice: 1;
}